<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Started!!</title>

    {% load staticfile %}
    <script src="{% static 'homepage_files/js/jquery-1.11.3.min.js' %}"></script>

</head>
<body>
    <form id="reg_form" action="">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password"  id="password" placeholder="Password">
        <input type="email" name="email" id="email" placeholder="E-Mail">
        <input type="text" name="fname" id="fname" placeholder="First Name">
        <input type="text" name="lname" id="lname" placeholder="Last Name">
        <input type="submit" name="Submit" value="Submit">
    </form>
    <script>
        var $form = $('#reg_form');
        $form.action('submit',function(){
            $ajax({
                type: 'POST',
                data: $form.serialize(),

            });
        })
    </script>
</body>
</html>